.heading
{
    font-size: 25px;
    width:100%;
    margin:0px;
    box-shadow: 5px 5px 5px rgb(247, 149, 69);
}
.NOTE
{
    font-size: 10px;
    color: black;  
}
.footer
{
    position:fixed;
    font-size: 25px;
    color: rgb(153, 0, 255);  
    background-color: rgb(21, 18, 39);
    bottom: 0;
    width:100%;
    text-align: center;
    line-height:3;
}
.ddj
{
    background-image: url("download (4).jpg");
    background-size: cover;
}